/* Reset some default styles for better consistency */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f5f5f5;
  color: white;
  background-image: url('background.webp');
  /* background-size: cover; */
  background-position: center;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px 0;
}

.logo {
  font-size: 24px;
  color: #333;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

main {
  padding: 40px 0;
}

.hero {
  background-color: #3498db;
  color: #fff;
  text-align: center;
  padding: 60px 0;
}

.hero h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  background-color: #e74c3c;
  border-radius: 5px;
}

.features h3 {
  font-size: 28px;
  margin-bottom: 30px;
}

.feature {
  text-align: center;
  margin-bottom: 40px;
}

.feature img {
  max-width: 100px;
}

.testimonials h3 {
  font-size: 28px;
  margin-bottom: 30px;
}

.testimonial {
  text-align: center;
  margin-bottom: 40px;
}

.testimonial img {
  border-radius: 50%;
  max-width: 100px;
  margin-bottom: 10px;
}

.cta {
  background-color: #2ecc71;
  color: #fff;
  text-align: center;
  padding: 60px 0;
}

.cta h3 {
  font-size: 36px;
  margin-bottom: 20px;
}

.cta p {
  font-size: 18px;
  margin-bottom: 30px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}